@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
  --yellow:#F2DB51;
  --black: #1d1c1c;
  --white: #fff;
  --gray:#545454;
  --purple: #A58ADB;
  --green:#C1FF72;
  --pink: #FB9ED7;
  --blue: #9CE4FD;
  --medium: #444444;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  transition: all .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section{
  padding: 3rem 7%;
}

.heading span{
  color: var(--orange);
  text-transform: uppercase;
}

.btn{
  font-size: 1.7rem;
  margin-top: 1rem;
  display: inline-block;
  padding: .8rem 3rem;
  border-radius: .5rem;
  border: .2rem solid var(--orange);
  color: var(--orange);
  background: none;
  cursor: pointer;
}

.btn:hover{
  background: var(--orange);
  color: var(--white);
}

/* header */

.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: var(--white);
  box-shadow: var(--box-shadow);
}

.header .navlogo{
  width: 90px;
  height: 40px;
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
}

.header .navlogo i{
  color: var(--orange);
}

.header .navbar a{
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--black);
}

.header .navbar a:hover,
.header .icons div:hover{
  color: var(--green);
}

.header .icons div{
  font-size: 2.5rem;
  margin-left: 1.7rem;
  color: var(--black);
  cursor: pointer;
}

#menu-btn{
  display: none;
}
/* header ends */

/* home */
.home{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  position: relative;
}

.home .content{
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}

.home .content h3{
  font-size: 6rem;
  color: var(--pink);
}

.home .content h3 span{
  color: var(--gray);
}

.home .content p{
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
}

.home .content p span{
  color: var(--blue);
}

.custom-shape-divider-bottom-1684324473 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1684324473 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 107px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1684324473 .shape-fill {
  fill: var(--blue);
}

/* fim */

/* sobre nos */

.sobrenos{
  background: var(--blue);
}

.sobrenos .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.sobrenos .row .image{
  flex: 1 1 50rem;
}

.sobrenos .row .image img{
  width: 100%;
  height: 100%;
}

.sobrenos .row .content{
  flex: 1 1 40rem;
}

.sobrenos .row .content h3{
  font-size: 3.5rem;
  color: var(--medium);
  line-height: 1.5;
}

.sobrenos .row .content p{
  font-size: 1.9rem;
  color: var(--medium);
  padding: 1rem 0;
  line-height: 2;
  text-align: justify;
}

.headingsobrenos span{
  font-size: 4rem;
  color: var(--purple);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 6rem;
}

.headingsobrenos{
  font-size: 4rem;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 6rem;
}

/* fim */

/* objetivos */

.headingobjetivos span{
  font-size: 4rem;
  color: var(--green);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 6rem;
}


.headingobjetivos{
  font-size: 4rem;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 6rem;
}

.objetivos .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.objetivos .box-container .boxseq{
  background: var(--white);
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  outline: .1rem solid rgba(0,0,0,.1);
  outline-offset: -1rem;
  overflow: hidden;
}
.objetivos .box-container .boxseg{
  background: var(--white);
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  outline: .1rem solid rgba(0,0,0,.1);
  outline-offset: -1rem;
  overflow: hidden;
}
.objetivos .box-container .boxcred{
  background: var(--white);
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  outline: .1rem solid rgba(0,0,0,.1);
  outline-offset: -1rem;
  overflow: hidden;
}

.objetivos .box-container .boxseq:hover img{
  transform: scale(1.1);
}
.objetivos .box-container .boxseg:hover img{
  transform: scale(1.1);
}
.objetivos .box-container .boxcred:hover img{
  transform: scale(1.1);
}

.objetivos .box-container .boxcred{
  background: var(--purple);
}

.objetivos .box-container .boxseq{
  background: var(--yellow);
}

.objetivos .box-container .boxseg{
  background: var(--pink);
}

.objetivos .box-container .boxseq h3{
  font-size: 2.5rem;
  color: var(--white);
  line-height: 1.8;
  padding-top: 3rem;
  padding-left: 2rem;
}

.objetivos .box-container .boxseg h3{
  font-size: 2.5rem;
  color: var(--white);
  line-height: 1.8;
  padding-top: 3rem;
  padding-left: 2rem;
}

.objetivos .box-container .boxcred h3{
  font-size: 2.5rem;
  color: var(--white);
  line-height: 1.8;
  padding-top: 3rem;
  padding-left: 2rem;
}

.objetivos .box-container .boxseq p{
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--white);
  padding: 1rem 2rem;
}

.objetivos .box-container .boxseg p{
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--white);
  padding: 1rem 2rem;
}

.objetivos .box-container .boxcred p{
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--white);
  padding: 1rem 2rem;
}

.objetivos .box-container .boxseg img{
  width: 100%;
  height: 66%;
}.objetivos .box-container .boxseq img{
  width: 100%;
  height: 66%;
}.objetivos .box-container .boxcred img{
  width: 100%;
  height: 66%;
}

/* fim */

/* membros */

.headingmembros span{
  font-size: 4rem;
  color: var(--yellow);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 6rem;
}

.headingmembros{
  font-size: 4rem;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 6rem;
}

.membros{
  background: url(images/teacher-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.membros .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.membros .box-container .box{
  background: var(--white);
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  border-radius: 2rem;
}

.membros .box-container .box img{
  height: 30rem;
}

.membros .box-container .box h3{
  font-size: 2.5rem;
  color: var(--black);
}

.membros .box-container .box p{
  font-size: 1.7rem;
  color: var(--light-color);
  margin-bottom: 1rem;
}

.membros .box-container .box .share i{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  border-radius: .5rem;
  background: none;
  color: var(--pink);
  border: .1rem solid var(--pink);
  margin-left: .5rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.membros .box-container .box .share i:hover{
  color: var(--white);
  border: .1rem solid var(--orange);
  background: #F2DB51;
}

/* fim */

/* galeria */

.headinggaleria span{
  font-size: 4rem;
  color: var(--pink);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 6rem;
}

.headinggaleria{
  font-size: 4rem;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 6rem;
}

/* galeria */

.galeria{
  background: url(images/gallery-bg.png) no-repeat;
  background-size: cover; 
  
}

.galeria .galeria-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.galeria .galeria-container .box{
  height: 100%;
  position: relative;
  overflow: hidden;
}

.galeria .galeria-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.galeria .galeria-container .box:hover img{
  transform: scale(1.2);
}

.galeria .galeria-container .box .icon{
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0; left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.4);
  display: none;
}

.galeria .galeria-container .box .icon i{
  font-size: 6rem;
  color: var(--white);
}

.galeria .galeria-container .box:hover .icon{
  display: flex;
}

/* fim */

/* contatos */

.headingcontatos span{
  font-size: 4rem;
  color: var(--purple);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 6rem;
}

.headingcontatos{
  font-size: 4rem;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 6rem;
}

.contatos .icons-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
  gap: 1.5rem;
}

.contatos .icons-container .icons{
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border-radius: 2rem;
  text-align: center;
  outline: .1rem solid rgba(0,0,0,.1);
  outline-offset: -1rem;
}

.contatos .icons-container .icons i{
  font-size: 2.5rem;
  height: 6rem;
  width: 6rem;
  color: var(--white);
  line-height: 6rem;
  border-radius: 50%;
  background: var(--orange);
}

.contatos .icons-container .icons h3{
  font-size: 2.2rem;
  padding: 1rem 0;
  color: var(--black);
}

.contatos .icons-container .icons p{
  font-size: 1.5rem;
  line-height: 2;
  color: var(--light-color);
}

.contatos .icons-container .icons span{
  font-size: 1.7rem;
  font-style: bold;
  line-height: 2;
  color: var(--pink);
}

.contatos .row{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 4rem;
}

.contatos .row .image{
  flex: 1 1 20rem;
}

.contatos .row .image img{
  width: 100%;
}
/* fim */

/* footer */

.footer{
  background: var(--pink);
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3{
  font-size: 2.2rem;
  color: var(--green);
  padding: 1rem 0;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  color: var(--white);
  padding: 1rem 0;
  line-height: 2;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.4rem;
  color: var(--white);
  padding: 1rem 0;
}

.footer .box-container .box a:hover{
  color: var(--green);
}

.footer .box-container .box a i{
  padding-right: .5rem;
  color: var(--white);
}

.footer .credit{
    margin-top: 2.5rem;
    padding: 1rem;
    padding-top: 2rem;
    border-top: .1rem solid rgb(255, 255, 255);
    text-align: center;
    color: var(--white);
    font-size: 2rem;
  }

.footer .credit span{
  color: var(--blue);
}

/* fim */

/* media query */

@media (max-width:991px){

  html{
    font-size: 55%;
  }

  .header{
    padding: 2rem 3rem;
  }

  section{
    padding: 3rem;
  }

}

@media (max-width:768px){

  #menu-btn{
    display: inline-block;
  }

  .header .navbar{
    position: absolute;
    top: 110%; right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: var(--white);
  }

  .header .navbar.active{
    right: 2rem;
    transition: .4s linear;
  }

  .header .navbar a{
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }

  .home .content h3{
    font-size: 4.5rem;
  }

}

@media (max-width:450px){
  html{
    font-size: 50%;
  }
  .home .content h3{
    font-size: 3.5rem;
  }
}


