@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --yellow:#F2DB51;
    --black: #1d1c1c;
    --white: #fff;
    --gray:#545454;
    --purple: #A58ADB;
    --green:#C1FF72;
    --pink: #FB9ED7;
    --blue: #9CE4FD;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  transition: all .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section{
  padding: 3rem 7%;
}

.heading1{
  font-size: 4rem;
  color: #545454;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 6rem;
}

.heading2{
  font-size: 4rem;
  color: #545454;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 6rem;
}

.heading3{
  font-size: 4rem;
  color: #545454;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 6rem;
}

.heading4{
  font-size: 4rem;
  color: #545454;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 6rem;
}

.heading5{
  font-size: 4rem;
  color: #545454;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 6rem;
}

.heading1 span{
  color: #A58ADB;
  text-transform: uppercase;
}

.heading2 span{
  color: #C1FF72;
  text-transform: uppercase;
}

.heading3 span{
  color: #F2DB51;
  text-transform: uppercase;
}

.heading4 span{
  color: #FB9ED7;
  text-transform: uppercase;
}

.heading5 span{
  color: #A58ADB;
  text-transform: uppercase;
}

/* header */

.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: var(--white);
  box-shadow: var(--box-shadow);
}

.header .navbar a{
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--black);
}

/* fim do header */

/* home */
.home{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  position: relative;
}

.home .content{
  flex: 1 1 40rem;
  padding-top: 6rem;
}

.home .content h3{
  font-size: 5rem;
  color: #545454;
}

.home .content h3 span{
  font-size: 6rem;
  color: #FB9ED7;
}

.home .content p{
  font-size: 1.7rem;
  color: var(--light-color);
  line-height: 1.8;
  padding: 1rem 0;
}

.home .image{
  flex: 1 1 40rem;
}

.home .image img{
  width: 100%;
  padding: 4rem;
}

.custom-shape-divider-bottom-1684324473 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1684324473 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 107px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1684324473 .shape-fill {
  fill: #9CE4FD;
}

/* fim da home */

/* sobre nós */
/* Para telas pequenas (menores que 768px) */
@media (max-width: 768px) {
  .heading1 {
      font-size: 1.5rem;
  }

  .row {
      flex-direction: column;
      text-align: center;
  }

  .row img {
      max-width: 80%;
  }

  .content {
      max-width: 100%;
  }
}

/* Para telas muito pequenas (menores que 480px) */
@media (max-width: 480px) {
  .heading1 {
      font-size: 1.25rem;
  }

  .row img {
      max-width: 100%;
  }
}


html, body {
  height: 100%; /* Altura total da viewport */
  margin: 0; /* Remove margens padrão */
}

.about {
  max-height: 70%;
  background: #9CE4FD;
  display: flex;
  flex-direction: column; /* Organiza o conteúdo verticalmente */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  height: 100vh; /* Altura total da viewport */
  padding-top: 20px; /* Espaço no topo para o título "Sobre nós" */
}

.heading1 {
  margin-bottom: 4rem; /* Espaço abaixo do título "Sobre nós" */
}

.row {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza o conteúdo dentro da row */
  gap: 3rem; /* Espaço entre a imagem e o conteúdo */
  width: 100%; /* Ocupa toda a largura do contêiner */
  max-width: 1200px; /* Limita a largura máxima para melhor visualização */
  padding: 0 2rem; /* Adiciona algum espaço nas laterais */
  box-sizing: border-box; /* Inclui padding e border na largura total */
}


.row img {
  max-width: 50%; /* tamanho da imagem */
  height: auto; /* Mantém a proporção da imagem */
}

.row .content {
  text-align: justify; /* Justifica o texto dentro do bloco */
  max-width: 50%; /* Limita a largura máxima do conteúdo */
}

.row .content h3 {
    font-size: 2rem; /* Tamanho da fonte do título */
    color: #545454;
    margin: 0; /* Remove margens padrão */
    white-space: nowrap; /* Impede que o texto quebre para a linha seguinte */
    overflow: hidden; /* Oculta qualquer texto que exceda o contêiner */
    margin-top: -90px; /*Move o texto para cima*/
  }
  

.row .content p {
  font-size: 1.7rem;
  color: #545454;
  padding: 1rem 0;
  line-height: 1.6;
}
/* fim do sobre nós */

/* objetivos */

.education .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.education .box-container .box{
  background: var(--white);
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  outline: .1rem solid rgba(0,0,0,.1);
  outline-offset: -1rem;
  overflow: hidden;
}

#box1{
  background: var(--pink);
}

#box2{
  background: var(--purple);
}

#box3{
  background: var(--yellow);
}

.education .box-container .box h3{
  font-size: 2.5rem;
  color: var(--white);
  line-height: 1.8;
  padding-top: 3rem;
  padding-left: 2rem;
}

.education .box-container .box p{
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--white);
  padding: 1rem 2rem;
}

.education .box-container .box img{
  width: 100%;
  height: 66%;
}

/* fim do objetivos */

/* membros */

.membros{
  background: url(images/teacher-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.membros .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.membros .box-container .box{
  background: var(--white);
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  border-radius: 2rem;
}

.membros .box-container .box img{
  height: 30rem;
}

.membros .box-container .box h3{
  font-size: 2.5rem;
  color: var(--black);
}

.membros .box-container .box p{
  font-size: 1.7rem;
  color: var(--light-color);
  margin-bottom: 1rem;
}

.membros .box-container .box .share i{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  border-radius: .5rem;
  background: none;
  color: #FB9ED7;
  border: .1rem solid #FB9ED7;
  margin-left: .5rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.membros .box-container .box .share i:hover{
  color: var(--white);
  border: .1rem solid var(--orange);
  background: #F2DB51;
}

/* fim dos membros */

/* galeria */

.pai{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: col;
}

.filho{
  justify-content: center;
  align-items: center;
}

.gallery{
  background: url(images/gallery-bg.png) no-repeat;
  background-size: cover; 
}

.gallery .gallery-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.gallery .gallery-container .box{
  height: 100%;
  position: relative;
  overflow: hidden;
}

.gallery .gallery-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .gallery-container .box:hover img{
  transform: scale(1.2);
}

.gallery .gallery-container .box .icon{
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0; left: 0;
  z-index: 10;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.4);
  display: none;
}

.gallery .gallery-container .box .icon i{
  font-size: 6rem;
  color: var(--white);
}

.gallery .gallery-container .box:hover .icon{
  display: flex;
}

/* fim da galeria */

/* contato */

.contact .icons-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
  gap: 1.5rem;
}

.contact .icons-container .icons{
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border-radius: 2rem;
  text-align: center;
  outline: .1rem solid rgba(0,0,0,.1);
  outline-offset: -1rem;
}

.contact .icons-container .icons i{
  font-size: 2.5rem;
  height: 6rem;
  width: 6rem;
  color: var(--white);
  line-height: 6rem;
  border-radius: 50%;
}

.contact .icons-container .icons h3{
  font-size: 2.2rem;
  padding: 1rem 0;
  color: var(--black);
}

.contact .icons-container .icons p{
  font-size: 1.5rem;
  line-height: 2;
  color: #545454;
}

.contact .icons-container .icons a{
  font-size: 1.5rem;
  font-style: bold;
  line-height: 2;
  color: var(--pink);
}

.contact .row{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 4rem;
}

.contact .row .image{
  flex: 1 1 20rem;
}

.contact .row .image img{
  width: 100%;
}

.contact .row form{
  flex: 1 1 50rem;
  padding: 2rem;
  border: 0.1rem solid rgba(0,0,0,.4);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
}

.contact .row form h3{
  font-size: 3rem;
  padding-bottom: 1rem;
  color: var(--black);
}

.contact .row form .inputBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .row form .inputBox input{
  width: 49%;
}

.contact .row form .inputBox input,
.contact .row form textarea{
  font-size: 1.6rem;
  border: 0.1rem solid rgba(0,0,0,.3);
  border-radius: 0.5rem;
  padding: 1rem 1.2rem;
  color: var(--black);
  margin: .7rem 0;
}

.contact .row form .inputBox input:focus,
.contact .row form textarea:focus{
  border: 0.1rem solid var(--orange);
}

.contact .row form textarea{
  height: 15rem;
  width: 100%;
  resize: none;
}

/* fim do contato */

/* footer */

.footer{
  background: #FB9ED7;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3{
  font-size: 2.2rem;
  color: #C1FF72;
  padding: 1rem 0;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  color: var(--white);
  padding: 1rem 0;
  line-height: 2;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.4rem;
  color: var(--white);
  padding: 1rem 0;
}

.footer .box-container .box a:hover{
  color: #C1FF72;
}

.footer .box-container .box a i{
  padding-right: .5rem;
  color: #C1FF72;
}

.footer .credit{
  margin-top: 2.5rem;
  padding: 1rem;
  padding-top: 2rem;
  border-top: .1rem solid rgb(255, 255, 255);
  text-align: center;
  color: var(--white);
  font-size: 2rem;
}

.footer .credit span{
  color: #9CE4FD;
}

/* fim do footer */

/* media query */

@media (max-width:991px){

  html{
    font-size: 55%;
  }

  .header{
    padding: 2rem 3rem;
  }

  section{
    padding: 3rem;
  }

}

@media (max-width:768px){

  #menu-btn{
    display: inline-block;
  }

  .header .navbar{
    position: absolute;
    top: 110%; right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: var(--white);
  }

  .header .navbar.active{
    right: 2rem;
    transition: .4s linear;
  }

  .header .navbar a{
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }

  .home .content h3{
    font-size: 4.5rem;
  }

}

@media (max-width:450px){
  html{
    font-size: 50%;
  }
  .home .content h3{
    font-size: 3.5rem;
  }
}

